{project_plugins, [rebar3_ex_doc]}.

{plugins, [rebar3_hex]}.

{deps, [
    {alara, "0.1.5"}
]}.

{shell, [
    {apps, [keylara]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/Green-Mice/keylara"},
    {api_reference, true}
]}.
